.dockerignore
.vscode/
Bloque Fundamentos/.ipynb_checkpoints/
Bloque Practico/.ipynb_checkpoints/
Bloque Practico/images/
Bloque Practico/images.zip
Bloque Practico/input.jpg
Bloque Practico/input2.jpg
Bloque Practico/output.jpg
Bloque Proyectos/images/
Bloque Proyectos/output.zip
Bloque Proyectos/input.jpg
Bloque Proyectos/models/
Bloque Proyectos/.ipynb_checkpoints/
venv/
Bloque Practico/Practica IV. Deteccion y Segmentacion - Entrenamiento.ipynb
.Trash-1000/
*.zip
